body {
  font-family: 'Roboto', sans-serif; 
  margin: 0; 
  padding: 0; 
  background-color: #15171a; 
  color: #ffffff; 
  text-align: center;
}

nav {
  background-color: #000000; 
  color: #fff; 
  padding: 15px 0; 
  text-align: center; 
}

nav .menu {
  display: flex; 
  justify-content: center; 
  list-style-type: none; 
  padding: 0; 
}

nav .menu li {
  margin: 0 15px; 
}

nav .menu a {
  color: #fff; 
}


.experience {
  background-color: #00000069;
  border: 1px solid #ccc;
  margin: 10px;
  padding: 20px;
  width: 650px;
  transition: transform .2s;
}


.experience:hover {

transform: scale(1.2);

}

.flexWorkExperience {

display: flex;
justify-content: center;

}

.NitradoLogo {

  max-width: 300px;
  min-height: 100;
  display: flex;
  justify-content: center;

  padding: 20px;

  border: 1px solid rgba(255, 255, 255, .25);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);

  backdrop-filter: blur(15px);
  
}

.TeleperformanceLogo {

  max-width: 300px;
  min-height: 100;
  display: flex;
  justify-content: center;

  padding: 20px;

  border: 1px solid rgba(255, 255, 255, .25);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);

  backdrop-filter: blur(15px);
  
}

.tpSection {

margin-top: 100;

}