body {
  font-family: 'Roboto', sans-serif; 
  margin: 0; 
  padding: 0; 
  background-color: rgba(47, 51, 59, 0.836); 
}

nav {
  background-color: #000000; 
  color: #fff; 
  padding: 15px 0; 
  text-align: center; 
}

nav .menu {
  display: flex; 
  justify-content: center; 
  list-style-type: none; 
  padding: 0; 
}

nav .menu li {
  margin: 0 15px; 
}

nav .menu a {
  color: #fff; 
}

header {
  background-color: #15171a; 
  color: #fff; 
  text-align: center; 
  padding: 50px 0; 
  height: 2em;
}

header h1 {
  font-size: 36px; 
  margin-bottom: 20px; 
}

.logo {
  width: 100px; 
  height: auto; 
  margin-bottom: 20px; 
}

section {
  padding: 50px; 
  text-align: center; 
  color: #fff;
}

section h2 {
  font-size: 24px; 
  margin-bottom: 20px; 
}

.footer {
  background-color: #15171a; 
  color: #fff; 
  text-align: center; 
  padding: 30px 0; 
}

.container {
  max-width: 1200px; 
  margin: 0 auto; 
  padding: 0 20px; 
}

.social-links {
  margin-top: 20px; 
}

.social-link {
  display: inline-block; 
  margin: 0 10px; 
  font-size: 24px; 
  color: #fff; 
  text-decoration: none; 
}

.blurred {
  filter: blur(5px); 
  transition: filter 1.0s ease;
  transition: transform .2s;
  display: block;
  margin: 0 auto;
}

.blurred:hover {
  filter: none; 
  transform: scale(1.05);
}  

.HolaSection img {
  width: 300px;
  height: auto;
}

.social-link {
  transition: transform .2s;
}

.social-link:hover {

transform: scale(1.5);

}
