/* Estilos generales */
body {
    font-family: Arial, sans-serif; /* Tipo de fuente para el cuerpo del documento */
    margin: 0; /* Elimina los márgenes predeterminados */
    padding: 0; /* Elimina el relleno predeterminado */
    background-color: #f3f4f6; /* Color de fondo del cuerpo del documento */
    color: #614c4c; /* Color del texto */
}

/* Estilos para la barra de navegación */
nav {
    background-color: #121212; /* Color de fondo de la barra de navegación */
    color: #fff; /* Color del texto de la barra de navegación */
    padding: 15px 0; /* Espaciado interno de la barra de navegación */
    text-align: center; /* Alineación del texto en la barra de navegación */
}

nav .menu {
    display: flex; /* Utiliza un diseño de caja flexible para los elementos del menú */
    justify-content: center; /* Centra horizontalmente los elementos del menú */
    list-style-type: none; /* Elimina los puntos de la lista */
    padding: 0; /* Elimina el relleno de la lista */
}

nav .menu li {
    margin: 0 15px; /* Espaciado entre los elementos del menú */
}

nav .menu a {
    color: #fff; /* Color del texto del enlace en la barra de navegación */
    text-decoration: none; /* Elimina la decoración del enlace */
}

/* Estilos para el encabezado */
header {
    background-color: #1a1a1a; /* Color de fondo del encabezado */
    color: #fff; /* Color del texto del encabezado */
    text-align: center; /* Alineación del texto en el encabezado */
    padding: 100px 0; /* Espaciado interno del encabezado */
    height: 2em;
}

header h1 {
    font-size: 36px; /* Tamaño de fuente del título del encabezado */
    margin-bottom: 20px; /* Espaciado inferior del título del encabezado */
}

.logo {
    width: 100px; /* Ancho del logo */
    height: auto; /* Altura automática del logo */
    margin-bottom: 20px; /* Espaciado inferior del logo */
}

/* Estilos para las secciones */
section {
    padding: 50px; /* Espaciado interno de las secciones */
    text-align: center; /* Alineación del texto en las secciones */
}

section h2 {
    font-size: 24px; /* Tamaño de fuente del título de la sección */
    margin-bottom: 20px; /* Espaciado inferior del título de la sección */
}

/* Estilos para los planetas */
.planets {
    display: flex; /* Utiliza un diseño de caja flexible para los planetas */
    justify-content: center; /* Centra horizontalmente los planetas */
    margin-top: 20px; /* Margen superior de los planetas */
}

.planets i {
    font-size: 26px; /* Tamaño de fuente de los planetas */
    margin: 0 10px; /* Espaciado entre los planetas */
    color: #333; /* Color de los planetas */
}

/* Estilos para el pie de página */
.footer {
    background-color: #343a40; /* Color de fondo del pie de página */
    color: #fff; /* Color del texto del pie de página */
    text-align: center; /* Alineación del texto en el pie de página */
    padding: 30px 0; /* Espaciado interno del pie de página */
}

/* Estilos para el contenedor */
.container {
    max-width: 1200px; /* Ancho máximo del contenedor */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    padding: 0 20px; /* Espaciado interno del contenedor */
}

/* Estilos para los enlaces de redes sociales */
.social-links {
    margin-top: 20px; /* Margen superior para los enlaces de redes sociales */
}

.social-link {
    display: inline-block; /* Hace que los enlaces sean elementos de bloque */
    margin: 0 10px; /* Espaciado entre los enlaces de redes sociales */
    font-size: 24px; /* Tamaño de fuente de los enlaces de redes sociales */
    color: #fff; /* Color del texto de los enlaces de redes sociales */
    text-decoration: none; /* Elimina la decoración del texto de los enlaces de redes sociales */
}
